__pycache__/
*.py[cod]
*$py.class
.env
instance/
.pytest_cache/

venv/
env/
ENV/

runs/

test_model.py

static/uploads/*
static/results/*

!static/uploads/.gitkeep
!static/results/.gitkeep

.vscode/
.DS_Store
Thumbs.db
.log